/* #button {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
} */

/* #longinput {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  margin-top: 50px;
}

/* #langinput{
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;

} */ 